@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  z-index: 1000;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

header .logo {
  color: black;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle, 
.toggle a {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.toggle a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.toggle a:hover::after {
  transform: scaleX(1);
}

.showcase {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase img {
  width: 100%;
  height: auto; 
  margin-bottom: 20px; 
}

.text {
  position: relative;
  z-index: 10;
  margin-top: 0px; 
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  color: #000;
  line-height: 1em;
  text-transform: uppercase;
}

.text h4 {
  font-size: 4em;
  font-weight: 700;
  color: #000;
  line-height: 1em;
  text-transform: uppercase;
}

.text h6 {
  font-size: 2em;
  font-weight: 700;
  color: #000;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.2em;
  color: #000;
  margin: 5px 10%;
  font-weight: 400;
}

.info button {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
}


.tres-muralhas {
    text-align: center;
    padding: 70px 20px;
  }
  
  .tres-muralhas h1 {
    margin-top: 30px;
    font-size: 2.5em;
    margin-bottom: 3px;
  }
  
  .tres-muralhas p {
    font-size: 1.0em;
    margin-bottom: 15px;
    color: #666;
  }
  
  .muralhas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 colunas */
    gap: 20px;
  }
  
  .cartao {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .cartao img {
    width: 360px;
    height: 270px;
    object-fit: contain;
    margin-bottom: 15px;
  }

.cartao h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .cartao span {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
  }
  
  .cartao p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .cartao a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
  }
  
  .forcas-militares {
    text-align: center;
    padding: 70px 20px;
  }
  
  .forcas-militares h1 {
    margin-top: 30px;
    font-size: 2.5em;
    margin-bottom: 3px;
  }
  
  .forcas-militares p {
    font-size: 1.0em;
    margin-bottom: 15px;
    color: #666;
  }
  
  .tropas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px;
  }
  
  .cartao-tropas {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .cartao-tropas img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .cartao-tropas h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .cartao-tropas span {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
  }
  
  .cartao-tropas p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .cartao-tropas a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
  }

  .os-personagens {
    text-align: center;
    padding: 70px 20px;
  }
  
.os-personagens h1 {
    margin-top: 30px;
    font-size: 2.5em;
    margin-bottom: 3px;
  }
  
.os-personagens p {
    font-size: 1.0em;
    margin-bottom: 15px;
    color: #666;
  }
  
  .personagens {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* colunas */
    gap: 20px;
  }
  
  .cartao-personagens {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .cartao-personagens img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .cartao-personagens h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .cartao-personagens span {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
  }
  
  .cartao-personagens p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .cartao-personagens a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
  }

  .nove-titans {
    text-align: center;
    padding: 70px 20px;
  }
  
  .nove-titans h1 {
    margin-top: 30px;
    font-size: 2.5em;
    margin-bottom: 3px;
  }
  
  .nove-titans p {
    font-size: 1.0em;
    margin-bottom: 15px;
    color: #666;
  }
  
  .titans {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* colunas */
    gap: 20px;
  }
  
  .cartao-titans {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .cartao-titans img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .cartao-titans h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .cartao-titans span {
    display: block;
    font-size: 0.9em;
    color: #888;
    margin-bottom: 15px;
  }
  
  .cartao-titans p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
  }
  
  .cartao-titans a {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
  }
  
  .view-all {
    margin-top: 30px;
  }
  
  .view-all a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .view-all a:hover {
    background-color: #000000;
    color: #fff;
  }

  .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
  }

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  color: #333;
  padding-bottom: 10px;
}

label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 100px;
  z-index: 1000;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

header .logo {
  color: black;
  cursor: pointer;
}

.toggle,
.toggle a {
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: black;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.toggle a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.toggle a:hover::after {
  transform: scaleX(1);
}

.showcase {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-all {
  margin-top: 30px;
}

.view-all a {
  text-decoration: none;
  font-size: 1.2em;
  color: #000;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.view-all a:hover {
  background-color: #000;
  color: #fff;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Grid Styles */
.muralhas, .tropas, .personagens, .titans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cartao, .cartao-tropas, .cartao-personagens, .cartao-titans {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.cartao img, .cartao-tropas img, .cartao-personagens img, .cartao-titans img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.cartao h3, .cartao-tropas h3, .cartao-personagens h3, .cartao-titans h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cartao span, .cartao-tropas span, .cartao-personagens span, .cartao-titans span {
  display: block;
  font-size: 0.9em;
  color: #888;
  margin-bottom: 15px;
}

.cartao p, .cartao-tropas p, .cartao-personagens p, .cartao-titans p {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 15px;
}

.cartao a, .cartao-tropas a, .cartao-personagens a, .cartao-titans a {
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
}

/* Responsividade */
@media (min-width: 768px) {
  header {
    padding: 10px 50px;
  }

  .text h2 {
    font-size: 2.5em; 
  }

  .text h4 {
    font-size: 2em; 
  }

  .text h6 {
    font-size: 1.5em; 
  }

  .muralhas, .tropas, .personagens, .titans {
    grid-template-columns: repeat(2, 1fr); 
  }

  .cartao img, .cartao-tropas img, .cartao-personagens img, .cartao-titans img {
    width: 100%; 
    height: auto;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 10px 100px;
  }

  .text h2 {
    font-size: 3.5em; 
  }

  .text h4 {
    font-size: 3em; 
  }

  .text h6 {
    font-size: 2.5em;
  }

  .muralhas, .personagens, .titans {
    grid-template-columns: repeat(3, 1fr); 
  }

  .tropas {
    grid-template-columns: repeat(4, 1fr); 
  }

  .cartao img, .cartao-tropas img, .cartao-personagens img, .cartao-titans img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .menu-icon {
    display: block;
  }

  .toggle {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
  }

  .toggle a {
    padding: 15px;
    border-top: 1px solid #ddd;
  }

  .toggle.show {
    display: flex;
  }

  .muralhas, .tropas, .personagens, .titans {
    grid-template-columns: repeat(1, 1fr); 
  }

  .cartao img, .cartao-tropas img, .cartao-personagens img, .cartao-titans img {
    width: 100%; 
    height: auto;
  }
}